.dashboardWrapper {
  background-color: #fff;
  padding: 20px;
}
.dashboardWrapper .userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboardWrapper .userInfo .profileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
}
.dashboardWrapper .report {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 12px;
}
.dashboardWrapper .report .card {
  flex: 1;
}
.dashboardWrapper .report .card .title {
  font-size: 20px;
  text-align: left;
  margin-top: -12px;
  margin-bottom: 12px;
}
.dashboardWrapper .report .card p {
  text-align: center;
  font-size: 18px;
}
.dashboardWrapper .report .card:nth-child(1) {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.dashboardWrapper .report .card:nth-child(2) {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.dashboardWrapper .report .card:nth-child(3) {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.dashboardWrapper .report .card:nth-child(4) {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.dashboardWrapper .chart {
  margin-top: 30px;
}
.dashboardWrapper .chart .lineChart {
  height: 400px;
}
.dashboardWrapper .chart .pieChart {
  display: flex;
}
.dashboardWrapper .chart .pieChart .pieChartCity {
  height: 400px;
  width: 50%;
}
.dashboardWrapper .chart .pieChart .pieChartAge {
  width: 50%;
}
.dashboardWrapper .chart .radarChart {
  height: 400px;
}
